$primaryColor: hsl(158, 36%, 37%);
$primaryColorHover: hsl(157, 35%, 22%);
$primaryBgColor:  hsl(30, 38%, 92%);

$secondaryColor: hsl(212, 21%, 14%); 
$tertiaryColor: hsl(228, 12%, 48%);
$whiteColor: hsl(0, 0%, 100%);

$border: 12px;
$primaryFont: 'Montserrat', san-serif;
$secondaryFont: 'Fraunces', serif;

@mixin flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flexText{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.75rem;
}

@mixin imageSize {
    height: 80%;
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $primaryBgColor;
    @include flexCenter();
    height: 100vh;
}

.card{
    width: 340px;
    height: 610px;
    background-color: $whiteColor;
    border-radius: $border;
    @include flexCenter();
    flex-direction: column;

}

.card--image{
    @include imageSize();
    background-image: url('images/image-product-mobile.jpg');
    background-position: center;
    background-size: 100% 100%;
    border-top-left-radius: $border;
    border-top-right-radius: $border;

}

.card--text{
    height: 100%;
    padding: 1.25em;
    font-family: $primaryFont;
    @include flexText();

    .card--text-header{
    @include flexText();    
    }

    .card--text-header-pretext{
        text-transform: uppercase;
        font-size: 0.8rem;
        color: $tertiaryColor;
        letter-spacing: 2px;
    }

    .card--text-header-title{
        font-family: $secondaryFont;
        font-size: 2rem;
    }

    
    .card--text-desc{
        color: $tertiaryColor;
        line-height: 1.5rem;
    }

    .card--text-footer{
        @include flexText();
        flex-direction: column;
        gap: 1rem;
    }

    .card--text-footer-price{
        @include flexText();
        flex-direction: row;
        align-items: center;
        .card--text-footer-price-main{
            color: $primaryColor;
            font-family: $secondaryFont;
            font-size: 2.2rem
        }

        .card--text-footer-price-supp{
            color: $tertiaryColor;
            font-size: 0.8em;
            text-decoration: line-through;
        }
    }
    .card--button{
        font-family: $primaryFont;
        border: none;
        padding: 12px 0;
        width: 100%;
        color: white;
        font-weight: 700;
        background-color: $primaryColor;
        border-radius: $border;

        @include flexCenter();
        gap: 1em;

        &:hover{
            cursor: pointer;
            background-color: $primaryColorHover;
        }
    }
    
}


@media screen and (min-width: 750px) {
    .card{
        width: 600px;
        height: 450px;
        flex-direction: row;

        .card--image{
            height: 100%;
            background-image: url('images/image-product-desktop.jpg');
            border-top-left-radius: $border;
            border-top-right-radius: 0;
            border-bottom-left-radius: $border;
        }

        .card--text{
            padding: 2rem;
            width: 90%;
            justify-content: center;
        }
    }
}