$primaryColor: hsl(158, 36%, 37%);
$primaryBgColor:  hsl(30, 38%, 92%);

$secondaryColor: hsl(212, 21%, 14%); 
$tertiaryColor: hsl(228, 12%, 48%);
$whiteColor: hsl(0, 0%, 100%);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}